#wrap {
  width: 750px;
  height: 750px;
  padding: 0;
}

#scaled-frame {
  width: 1700px;
  height: 1450px;
  display: block;
}

#scaled-frame {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 0.75;
  }
}
