#wrap {
  /* width: 750px; */
  /* height: 750px; */
  padding: 0;
  overflow: hidden;
}

#scaled-frame {
  width: 1300px;
  height: 1100px;
  border: 0px;
}

#scaled-frame {
  zoom: 0.85;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 1;
  }
}
